In [1]:
d = {'a': 1, 'b': 5, 'c': 3, 'd': 2, 'e': 8, 'f': 6}
d

{'a': 1, 'b': 5, 'c': 3, 'd': 2, 'e': 8, 'f': 6}

In [2]:
d['c']

3

In [3]:
d['e']

8

In [4]:
d['s'] = 12

In [5]:
d

{'a': 1, 'b': 5, 'c': 3, 'd': 2, 'e': 8, 'f': 6, 's': 12}

In [6]:
del d['c']

In [7]:
d

{'a': 1, 'b': 5, 'd': 2, 'e': 8, 'f': 6, 's': 12}

In [8]:
d['a'] = 10

In [9]:
d

{'a': 10, 'b': 5, 'd': 2, 'e': 8, 'f': 6, 's': 12}

In [10]:
len(d)

6

In [11]:
d.update({"t": 21, "h": 9, 'p':14})
d

{'a': 10, 'b': 5, 'd': 2, 'e': 8, 'f': 6, 's': 12, 't': 21, 'h': 9, 'p': 14}

In [12]:
d.keys()

dict_keys(['a', 'b', 'd', 'e', 'f', 's', 't', 'h', 'p'])

In [13]:
d.values()

dict_values([10, 5, 2, 8, 6, 12, 21, 9, 14])

In [15]:
for i in d:
    print(i)

a
b
d
e
f
s
t
h
p

In [16]:
for i in d:
    print(d[i])

10
5
2
8
6
12
21
9
14

In [17]:
for k, v in d.items():
    print(k)
    print(v)

a
10
b
5
d
2
e
8
f
6
s
12
t
21
h
9
p
14

In [19]:
max = 10
max_k = "a"

for k, v in d.items():
    if v > max:
        max = v
        max_k = k
print(max_k)

t

In [20]:
d

{'a': 10, 'b': 5, 'd': 2, 'e': 8, 'f': 6, 's': 12, 't': 21, 'h': 9, 'p': 14}

In [22]:
sorted(d, key = lambda x: d[x], reverse = True)

['t', 'p', 's', 'a', 'h', 'e', 'f', 'b', 'd']

In [23]:
sorted(d, key = lambda x: d[x], reverse = True)[0]

't'

In [25]:
sorted(d, key = lambda x: x, reverse = True)

['t', 's', 'p', 'h', 'f', 'e', 'd', 'b', 'a']

In [26]:
s = "I love sports. My country has the best sports teams in the world. I am a football fan."
s

'I love sports. My country has the best sports teams in the world. I am a football fan.'

In [27]:
s.split()

['I',
 'love',
 'sports.',
 'My',
 'country',
 'has',
 'the',
 'best',
 'sports',
 'teams',
 'in',
 'the',
 'world.',
 'I',
 'am',
 'a',
 'football',
 'fan.']

In [28]:
s_map = {}

for i in s.split():
    if i not in s_map:
        s_map[i] = 1
    else:
        s_map[i] += 1
s_map

{'I': 2,
 'love': 1,
 'sports.': 1,
 'My': 1,
 'country': 1,
 'has': 1,
 'the': 2,
 'best': 1,
 'sports': 1,
 'teams': 1,
 'in': 1,
 'world.': 1,
 'am': 1,
 'a': 1,
 'football': 1,
 'fan.': 1}

In [29]:
gold_medals = {'USA': {'Wrestling': 3, 'Long Jump': 3, 'Basketball': 5},
                'China': {'Wrestling': 1, 'Long Jump': 5, 'Basketball': 3},
                'England': {'Wrestling': 2, 'Long Jump': 7, 'Basketball': 0}}

In [31]:
gold_medals['China']['Long Jump']

5

In [32]:
students = [{'Name': 'John Smith', 'Age': 12, 'Score': 90},
           {'Name': 'Laila Jones', 'Age': 11, 'Score': 82},
           {'Name': 'Omar Martinez', 'Age': 10, 'Score': 70},
           {'Name': 'Romana Raha', 'Age': 13, 'Score': 78},]

In [36]:
students[2]["Age"]

10

In [38]:
sorted(students, key = lambda x: x['Score'], reverse=True)

[{'Name': 'John Smith', 'Age': 12, 'Score': 90},
 {'Name': 'Laila Jones', 'Age': 11, 'Score': 82},
 {'Name': 'Romana Raha', 'Age': 13, 'Score': 78},
 {'Name': 'Omar Martinez', 'Age': 10, 'Score': 70}]

In [40]:
sorted(students, key = lambda x: x['Score'], reverse=True)[0]["Name"]

'John Smith'